In [65]:
import pandas as pd

In [66]:
def load_data(file_path):
    """Load data from a CSV file into a pandas DataFrame."""
    return pd.read_csv(file_path)

ConsumerLoans_Banks = load_data('data/ConsumerLoans_Banks.csv')
ConsumerLoans_CreditCards = load_data('data/ConsumerLoans_CreditCards.csv')
Deposits_Banks = load_data('data/deposits.csv')
FederalFunds_EffectiveRate = load_data('data/FederalFundsEffectiveRate.csv')
GasPrices = load_data('data/GasPrices.csv')
LiabilitiesAndCapital = load_data('data/LiabilitiesAndCapital.csv')
PrimeLoanRate = load_data('data/PrimeLoanRate.csv')
UnemploymentClaims = load_data('data/UnemploymentClaims.csv')

In [67]:
ConsumerLoans_Banks.head()

  observation_date  CCLACBW027SBOG
0       2000-06-28        211.4984
1       2000-07-05        212.0107
2       2000-07-12        210.8742
3       2000-07-19        212.5366
4       2000-07-26        211.4714

In [68]:
ConsumerLoans_CreditCards.head()

  observation_date  CCLDCBW027SBOG
0       2000-06-28        211.4984
1       2000-07-05        212.0107
2       2000-07-12        210.8742
3       2000-07-19        212.5366
4       2000-07-26        211.4714

In [69]:
Deposits_Banks.head()

  observation_date  DPSACBW027SBOG
0       2000-01-05       3466.1967
1       2000-01-12       3473.1210
2       2000-01-19       3488.6942
3       2000-01-26       3489.7547
4       2000-02-02       3488.9523

In [70]:
FederalFunds_EffectiveRate.head()

  observation_date    FF
0       2000-01-05  4.72
1       2000-01-12  5.62
2       2000-01-19  5.59
3       2000-01-26  5.43
4       2000-02-02  5.66

In [71]:
GasPrices.rename(columns={'Date': 'observation_date'}, inplace=True)
GasPrices['observation_date'] = pd.to_datetime(GasPrices['observation_date'])
GasPrices.head()

,observation_date,Weekly U.S. All Grades All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. All Grades Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Regular All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Regular Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Midgrade All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Midgrade Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Midgrade Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Premium All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Premium Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Premium Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. No 2 Diesel Retail Prices (Dollars per Gallon),Weekly U.S. No 2 Diesel Ultra Low Sulfur (0-15 ppm) Retail Prices (Dollars per Gallon),Weekly U.S. No 2 Diesel Low Sulfur (15-500 ppm) Retail Prices (Dollars per Gallon)
0,1990-08-20,NaN,NaN,NaN,1.191,1.191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-08-27,NaN,NaN,NaN,1.245,1.245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990-09-03,NaN,NaN,NaN,1.242,1.242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990-09-10,NaN,NaN,NaN,1.252,1.252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990-09-17,NaN,NaN,NaN,1.266,1.266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
LiabilitiesAndCapital.head()

  observation_date  WTREGEN
0       2000-01-05   20.943
1       2000-01-12    5.326
2       2000-01-19    5.390
3       2000-01-26    7.205
4       2000-02-02    6.131

In [73]:
PrimeLoanRate.head()

  observation_date  WPRIME
0       2000-01-05     8.5
1       2000-01-12     8.5
2       2000-01-19     8.5
3       2000-01-26     8.5
4       2000-02-02     8.5

In [74]:
UnemploymentClaims.head()

  observation_date    ICSA
0       2000-01-01  286000
1       2000-01-08  298000
2       2000-01-15  289000
3       2000-01-22  284000
4       2000-01-29  285000

In [75]:
def get_subset(df):
    df['observation_date'] = pd.to_datetime(df['observation_date'])
    return df[df['observation_date'] >= '2000-06-28']

ConsumerLoans_Banks = get_subset(ConsumerLoans_Banks)
ConsumerLoans_CreditCards = get_subset(ConsumerLoans_CreditCards)
Deposits_Banks = get_subset(Deposits_Banks)
FederalFunds_EffectiveRate = get_subset(FederalFunds_EffectiveRate)
GasPrices = get_subset(GasPrices)
LiabilitiesAndCapital = get_subset(LiabilitiesAndCapital)
PrimeLoanRate = get_subset(PrimeLoanRate)
UnemploymentClaims = get_subset(UnemploymentClaims)

In [76]:
combined_data = pd.merge(ConsumerLoans_Banks, ConsumerLoans_CreditCards, on='observation_date', how='outer')
combined_data = pd.merge(combined_data, Deposits_Banks, on='observation_date', how='outer')
combined_data = pd.merge(combined_data, FederalFunds_EffectiveRate, on='observation_date', how='outer')
combined_data = pd.merge(combined_data, GasPrices, on='observation_date', how='outer')
combined_data = pd.merge(combined_data, LiabilitiesAndCapital, on='observation_date', how='outer')
combined_data = pd.merge(combined_data, PrimeLoanRate, on='observation_date', how='outer')
combined_data = pd.merge(combined_data, UnemploymentClaims, on='observation_date', how='outer')


combined_data.head()

,observation_date,CCLACBW027SBOG,CCLDCBW027SBOG,DPSACBW027SBOG,FF,Weekly U.S. All Grades All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. All Grades Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Regular All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Regular Conventional Retail Gasoline Prices (Dollars per Gallon),...,Weekly U.S. Midgrade Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Premium All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Premium Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Premium Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. No 2 Diesel Retail Prices (Dollars per Gallon),Weekly U.S. No 2 Diesel Ultra Low Sulfur (0-15 ppm) Retail Prices (Dollars per Gallon),Weekly U.S. No 2 Diesel Low Sulfur (15-500 ppm) Retail Prices (Dollars per Gallon),WTREGEN,WPRIME,ICSA
0,2000-06-28,211.4984,211.4984,3576.1407,6.53,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.983,9.5,NaN
1,2000-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281000.0
2,2000-07-03,NaN,NaN,NaN,NaN,1.661,1.642,1.716,1.625,1.606,...,1.774,1.792,1.772,1.847,1.453,NaN,NaN,NaN,NaN,NaN
3,2000-07-05,212.0107,212.0107,3625.4161,6.85,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.159,9.5,NaN
4,2000-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293000.0

In [77]:
combined_data.columns

Index(['observation_date', 'CCLACBW027SBOG', 'CCLDCBW027SBOG',
       'DPSACBW027SBOG', 'FF',
       'Weekly U.S. All Grades All Formulations Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. All Grades Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. All Grades Reformulated Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. Regular All Formulations Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. Regular Reformulated Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. Midgrade All Formulations Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. Midgrade Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. Midgrade Reformulated Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. Premium All Formulations Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. Premium Conventional Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. Premium Reformulated Retail Gasoline Prices  (Dollars per Gallon)',
       'Weekly U.S. No 2 Diesel Retail Prices  (Dollars per Gallon)',
       'Weekly U.S. No 2 Diesel Ultra Low Sulfur (0-15 ppm) Retail Prices  (Dollars per Gallon)',
       'Weekly U.S. No 2 Diesel Low Sulfur (15-500 ppm) Retail Prices  (Dollars per Gallon)',
       'WTREGEN', 'WPRIME', 'ICSA'],
      dtype='object')

In [78]:
column_mapping = {
    'observation_date': 'date',
    'CCLACBW027SBOG': 'consumer_loans_banks',
    'CCLDCBW027SBOG': 'consumer_loans_credit_cards',
    'DPSACBW027SBOG': 'deposits_banks',
    'FF': 'federal_funds_effective_rate',
    'Weekly U.S. All Grades All Formulations Retail Gasoline Prices  (Dollars per Gallon)': 'gas_all_grades_all_formulations',
    'Weekly U.S. All Grades Conventional Retail Gasoline Prices  (Dollars per Gallon)': 'gas_all_grades_conventional',
    'Weekly U.S. All Grades Reformulated Retail Gasoline Prices  (Dollars per Gallon)': 'gas_all_grades_reformulated',
    'Weekly U.S. Regular All Formulations Retail Gasoline Prices  (Dollars per Gallon)': 'gas_regular_all_formulations',
    'Weekly U.S. Regular Conventional Retail Gasoline Prices  (Dollars per Gallon)': 'gas_regular_conventional',
    'Weekly U.S. Regular Reformulated Retail Gasoline Prices  (Dollars per Gallon)': 'gas_regular_reformulated',
    'Weekly U.S. Midgrade All Formulations Retail Gasoline Prices  (Dollars per Gallon)': 'gas_midgrade_all_formulations',
    'Weekly U.S. Midgrade Conventional Retail Gasoline Prices  (Dollars per Gallon)': 'gas_midgrade_conventional',
    'Weekly U.S. Midgrade Reformulated Retail Gasoline Prices  (Dollars per Gallon)': 'gas_midgrade_reformulated',
    'Weekly U.S. Premium All Formulations Retail Gasoline Prices  (Dollars per Gallon)': 'gas_premium_all_formulations',
    'Weekly U.S. Premium Conventional Retail Gasoline Prices  (Dollars per Gallon)': 'gas_premium_conventional',
    'Weekly U.S. Premium Reformulated Retail Gasoline Prices  (Dollars per Gallon)': 'gas_premium_reformulated',
    'Weekly U.S. No 2 Diesel Retail Prices  (Dollars per Gallon)': 'diesel_no2_retail',
    'Weekly U.S. No 2 Diesel Ultra Low Sulfur (0-15 ppm) Retail Prices  (Dollars per Gallon)': 'diesel_no2_ultra_low_sulfur',
    'Weekly U.S. No 2 Diesel Low Sulfur (15-500 ppm) Retail Prices  (Dollars per Gallon)': 'diesel_no2_low_sulfur',
    'WTREGEN': 'liabilities_and_capital',
    'WPRIME': 'prime_loan_rate',
    'ICSA': 'unemployment_claims'
}

combined_data.sort_index(inplace=True)

combined_data.rename(columns=column_mapping, inplace=True)

In [79]:
combined_data

,date,consumer_loans_banks,consumer_loans_credit_cards,deposits_banks,federal_funds_effective_rate,gas_all_grades_all_formulations,gas_all_grades_conventional,gas_all_grades_reformulated,gas_regular_all_formulations,gas_regular_conventional,...,gas_midgrade_reformulated,gas_premium_all_formulations,gas_premium_conventional,gas_premium_reformulated,diesel_no2_retail,diesel_no2_ultra_low_sulfur,diesel_no2_low_sulfur,liabilities_and_capital,prime_loan_rate,unemployment_claims
0,2000-06-28,211.4984,211.4984,3576.1407,6.53,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.983,9.50,NaN
1,2000-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281000.0
2,2000-07-03,NaN,NaN,NaN,NaN,1.661,1.642,1.716,1.625,1.606,...,1.774,1.792,1.772,1.847,1.453,NaN,NaN,NaN,NaN,NaN
3,2000-07-05,212.0107,212.0107,3625.4161,6.85,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.159,9.50,NaN
4,2000-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3947,2025-09-15,NaN,NaN,NaN,NaN,3.296,3.133,3.615,3.168,3.036,...,4.064,4.111,3.916,4.339,3.739,3.739,NaN,NaN,NaN,NaN
3948,2025-09-17,1049.1644,1049.1644,18369.2281,4.33,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,756.376,7.46,NaN
3949,2025-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218000.0
3950,2025-09-22,NaN,NaN,NaN,NaN,3.301,3.147,3.601,3.173,3.050,...,4.054,4.110,3.928,4.322,3.749,3.749,NaN,NaN,NaN,NaN
3951,2025-09-24,NaN,NaN,NaN,4.08,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,804.856,7.25,NaN

In [80]:
combined_data.set_index('date', inplace=True)
combined_data.to_csv('../final_data/combined_data.csv')